@page "/counter"
@using Microsoft.AspNetCore.Components.Web

<PageTitle>Counter</PageTitle>

<h1>Contador</h1>

<p class="lead">El contador actual es: <strong>@currentCount</strong></p>

<button class="btn btn-primary" @onclick="IncrementCount">Haz clic aquí</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
