@page "/counter"

<h1>Contador</h1>

<p>Has hecho clic en el botón @count veces.</p>

<button class="btn btn-primary" @onclick="IncrementCount">Haz clic</button>

@code {
    private int count = 0;

    private void IncrementCount()
    {
        count++;
    }
}
