<div class="nav-scrollable">
    <nav class="flex-column">
       
        <!-- Enlace MVC tradicional para Eventos -->
        <div class="nav-item px-3">
            <a class="nav-link" href="/Eventos">
                <span class="bi bi-calendar-event-fill" aria-hidden="true"></span> Eventos
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" href="/">
                <span class="bi bi-calendar-event-fill" aria-hidden="true"></span> Home
            </a>
        </div>
    </nav>
</div>
