html, body {
    height: 100%;
    margin: 0;
}

.d-flex {
    height: 100vh;
}

nav ul.nav {
    padding-left: 0;
}

    nav ul.nav li {
        margin-bottom: 0.5rem;
    }

        nav ul.nav li .active {
            font-weight: bold;
            text-decoration: underline;
        }
